asgiref==3.3.4
awsebcli==3.20.0
bahttext==1.0.2
base58==0.2.3
boto3==1.3.1
botocore==1.20.97
cement==2.8.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
colorama==0.4.3
configparser==5.0.2
crayons==0.4.0
cryptography==3.4.7
dj-database-url==0.5.0
Django==3.2.4
django-crispy-forms==1.12.0
django-storages==1.11.1
django-thaidate==1.0.2
docutils==0.12
future==0.16.0
futures==3.0.5
gunicorn==20.1.0
heroku==0.1.4
heroku3==4.2.3
hjson==1.5.8
idna==2.10
jmespath==0.9.0
lambda-packages==0.5.0
mysqlclient==1.4.6
numpy==1.20.3
pandas==1.2.4
pandoc==1.0.2
pathspec==0.5.9
Pillow==8.2.0
placebo==0.9.0
ply==3.11
pycparser==2.20
pyOpenSSL==20.0.1
pypandoc==1.5
pypiwin32==223
pythainlp==2.3.1
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-slugify==1.2.0
pytz==2021.1
pywin32==301
PyYAML==5.4.1
reportlab==3.5.67
requests==2.25.1
s3transfer==0.4.2
selenium==3.141.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.1
termcolor==1.1.0
thaidate==0.2.2
tinydb==4.4.0
tqdm==4.7.6
Unidecode==1.2.0
urllib3==1.25.11
wcwidth==0.1.9
webdriver-manager==3.4.2
Werkzeug==0.11.10
whitenoise==5.2.0
wsgi-request-logger==0.4.5
