@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@1,400;1,500;1,600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

td{
    font-family: 'Sarabun', sans-serif;
}

body{
    font-family: 'Sarabun', sans-serif;
}
.nomPa{
    font-family: 'Sarabun', sans-serif;
}
th{
    font-family: 'Sarabun', sans-serif;
    font-weight: 600;
}
p{
    font-family: 'Sarabun', sans-serif;
}
.headFont{
    font-family: 'Mitr', sans-serif;
}
.headFontsmall{
    font-family: 'Mitr', sans-serif;
    font-size: 12px;
}
button{
    font-family: 'Mitr', sans-serif;
}
a{
    font-family: 'Mitr', sans-serif;
}
h5{
    font-family: 'Mitr', sans-serif;
}

.titlecolor{
    font-family: 'Mitr', sans-serif;
    color: saddlebrown;
}
